@use "../../styles/partials/breakpoints" as *;
@use "../../styles/partials/colors" as *;

.add-item-container {
  margin: 0 1rem;
  background-color: $global-background;
  box-shadow: 0px 2px 5px rgba(19, 24, 44, 0.1);
  border-radius: 3px;
  @include medium {
    margin: 0 2rem;
  }
  @include large {
    margin: 0 auto;
    max-width: 1020px;
  }
}

.add-item {
  &__nav-bar {
    display: flex;
    justify-content: space-between;
    padding: 2rem 1.5rem;
    border-bottom: 0.063rem solid $border-devider;
    @include medium {
      padding-bottom: 1.5rem;
      padding-left: 2rem;
      padding-right: 2rem;
    }
    @include large {
      padding-left: 2.5rem;
      padding-right: 2.5rem;
    }
  }
  &__arrow-text-wrapper {
    display: flex;
    align-items: baseline;
  }
  &__back-link {
    max-height: 1rem;
  }
  &__back-icon {
    height: 1rem;
    width: 1rem;
    margin-right: 0.5rem;
  }
  &__section-header {
    margin: 0;
    font-weight: 600;
    font-size: 1.75rem;
    line-height: 2.25rem;
    @include medium {
      font-size: 2rem;
      line-height: 2.5rem;
    }
  }
  &__quantity {
    display: none;
    &--inStock {
      display: flex;
    }
  }
  &__input {
    &--invalid {
      //   border: 1px solid red;
      outline: 1px solid red;
      border: none;
    }
  }
}
