@font-face {
  font-family: "Titillium Web";
  src: url("../../assets/fonts/TitilliumWeb-Bold.ttf") format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: "Titillium Web";
  src: url("../../assets/fonts/TitilliumWeb-SemiBold.ttf") format("truetype");
  font-weight: 600;
}