@font-face {
  font-family: "Titillium Web";
  src: url("../../assets/fonts/titillium-web-bold.ttf") format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: "Titillium Web";
  src: url("../../assets/fonts/titillium-web-semi-bold.ttf") format("truetype");
  font-weight: 600;
}