@use "../../styles/partials/breakpoints" as *;
@use "../../styles/partials/colors" as *;

.warehouseSingle-container {
  margin: 0 1rem;
  background-color: $global-background;
  box-shadow: 0px 2px 5px rgba(19, 24, 44, 0.1);
  border-radius: 3px;
  @include medium {
    margin: 0 2rem;
  }
  @include large {
    margin: 0 auto;
    max-width: 1020px;
  }
}
