@use "../../styles/partials/breakpoints" as *;
@use "../../styles/partials/colors" as *;
@use "../../styles/partials/fonts" as *;

p {
    font-size: .75rem;
    color: $table-column;
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
    margin-top: 0;
}

@include medium {
    
    p {
        font-size: 1rem;
    }
}