@use "../../styles/partials/breakpoints" as *;
@use "../../styles/partials/colors" as *;
@use "../../styles/partials/fonts" as *;

.footer {
    font-size: 0.75rem;
        color: $table-column;
        display: flex;
        justify-content: center;
        padding: 2.5rem 0;
        margin: 0;
        margin-top: auto;
}

@include medium {
    
    .footer {
        font-size: 1rem;
        padding: 2.5rem 0 3rem;
    }
}