@use "./styles/partials/fonts" as *;
html,
body,
input,
textarea,
button {
  margin: 0;
  font-family: "Titillium Web", sans-serif;
  box-sizing: border-box;
  background-color: bisque;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

