@use "./styles/partials/fonts" as *;
@use "./styles/partials/breakpoints" as *;
@use "./styles/partials/colors" as *;

html,
body,
input,
textarea,
button {
  margin: 0;
  font-family: "Titillium Web", sans-serif;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.app-container {
  background-color: $page-cta;
  min-height: 100vh;
  @include medium {
    margin-bottom: -6.063rem;
  }
}

.header-container {
  background-color: $navigation-hover;
  height: 12.5rem;
  @include medium {
    height: 11.625rem;
  }
}

.main-footer-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: space-between;
}

.main-container {
  position: relative;
  top: -4.063rem;
  z-index: 9999;
  margin-bottom: -4.063rem;
  @include medium {
    margin-bottom: -6.063rem;
    top: -6.063rem;
  }
}

.footer-wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  margin-right: auto;
  margin-left: auto;
}

.footer-container {
  background-color: $page-cta;
  position: relative;
}

// .main-container {
//   margin: 0 1rem;
//   background-color: $global-background;
//   box-shadow: 0px 2px 5px rgba(19, 24, 44, 0.1);
//   border-radius: 3px;
//   position: relative;
//   top: -4.063rem;
//   z-index: 9999;
//   @include medium {
//     margin: 0 2rem;
//     top: -97px;
//   }
//   @include large {
//     margin: 0 auto;
//     max-width: 1020px;
//   }
// }
